.destinations {
  width: 312px;
}
.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.destinations .destinations-items header{
  padding: 0;
}
.destinations .item .img-item {
  width: 100%;
  height: 368px;
}
.destinations .item.tokyo .img-item {
  background: url(../img/Tokyo.jpg);
  background-size: cover;
}
.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}
.destinations .item header h4 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}
.destinations .button{
    width: 100%;
}
@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item.tokyo .img-item {
    background: url(../img/Tokyo.jpg);
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/Osaka.jpg);
    background-size: cover;
  }
  .destinations .button{
    width: 288px;
}
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destinations-items {
    flex-direction: row;
  }
}
