header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-tertiary-color);
  padding: 38px 48px;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navegacao-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}
nav {
  display: none;
}
.list-link {
  list-style: none;
}
.list-link li{
    margin: 16px 0;
}
.list-link li a {
  color: var(--text-secondary-color);
  font-weight: var(--menu-text-weight);
  font-size: 24px;
  text-decoration: none;
}

@media screen and (min-width:768px) {   
.navegacao-menu{
    margin-top: 0;
    width: 467px;
}
.navegacao-menu label {
    display: none;
}
.navegacao-menu nav{
    display: block;
}
.navegacao-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.navegacao-menu li{
    margin: 0;
}
}