header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--background-tertiary-color);
    padding: 38px 48px;
    
}
.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}
.navegacao-menu{
    margin-top: 24px;
}

nav{
    display: none;
}