.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}
.bottom-hero{
  width: 100%;
  margin: 0;
}
.bottom-hero .hero-img{
  background: url(../img/Imagem\ pré\ rodapé\ 1.png) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;  
  }
  .hero h2{
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  hero h2{
    padding: 88px 120px;
    font-size: 32px;
  }
   .bottom-hero .hero-img{
    height: 600px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  hero h2{
    padding: 88px 160px;
    font-size: 32px;
  }
  .bottom-hero .hero-img{
    height: 600px;
  }
}
