.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.firsty {
  background: url(../img/bag.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.second {
  background: url(../img/passport.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/personas.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/*CSS pacotes de viagens */

.payments .image-gallery.gallery-pacotes .image.firsty{
background: url(../img/Montagem\ japão\ 1.png) no-repeat;
background-size: cover;
}
.payments .image-gallery.gallery-pacotes .image.second{
background: url(../img/Montagem\ japão\ 2.png) no-repeat;

}
.payments .image-gallery.gallery-pacotes .image.thirdy{
background: url(../img/Montagem\ japão\ 3.png) no-repeat;

}

@media screen and (min-width: 768px) { /*media Screen pagoctes de viagens*/
  .payments .image-gallery.gallery-pacotes .image.firsty{
background: url(../img/Montagem\ japão\ 1\ tablet.png);
background-size: cover;
}
.payments .image-gallery.gallery-pacotes .image.second{
background: url(../img/Montagem\ japão\ 2\ tablet.png) no-repeat;
background-size: cover;
}
.payments .image-gallery.gallery-pacotes .image.thirdy{
background: url(../img/Montagem\ japão\ 3\ tablet.png) no-repeat;
background-size: cover;
}
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
