/*backgorund
botoes
Cores de textos*/

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000;

    --butoon-primary-color: #8f0101;
    --butoon-secondary-color:#b81515;

    --text-primary-color: #222222;
    --text-secondary-color:#ffffff;
}


body, img, h1, p, fieldset, legend, label, input, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
